.about__overlay {
  width: 100%;
  position: relative;
}
.about__banner {
  width: 100%;
  height: 430px;
}
.about__overlay__content {
  position: absolute;
  display: flex;
  padding: 2em;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin-top: 2em;
  transform: translate(-50%, -50%);
}
.about__overlay__content__left {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: $white;
}
.about__overlay__content__left__text {
  font-size: 14px;
  margin-bottom: 0.5em;
}
.about__overlay__content__left__heading {
  font-size: 30px;
  font-weight: 600;
}
.about__overlay__content__right {
  width: 50%;
  display: flex;
  justify-content: end;
}
.about__overlay__content__right__content {
  width: 600px;
  height: 115px;
  overflow: hidden;
  font-size: 14px;
  color: $white;
}
.about__section__two {
  max-width: 1440px;
  margin: 0px auto;
}
.about__heading__here__sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
  flex-direction: column;
}
.about__heading__here__sec__heading {
  font-size: 25px;
  font-weight: 700;
}
.about__heading__here__sec__text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
  text-align: center;
}
.about__heading__here__sec__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 2em;
}
.about__heading__here__sec__wrapper__img {
  width: 100%;
  height: 400px;
  border-radius: 5px;
}
.about__heading__here__sec__cards__row {
  width: 100%;
  padding: 4em 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__heading__here__cards {
  width: 30%;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 15px;
  padding: 2em;
  transition: 0.3s ease-in-out;
}
.about__heading__here__cards__img {
  width: 50px;
  height: 50px;
}
.about__heading__here__cards__heading {
  font-size: 18px;
  margin-top: 1.8em;
  font-weight: bold;
}
.about__heading__here__cards__text {
  font-size: 14px;
  margin-top: 0.3em;
}
.about__heading__here__cards:hover {
  background-image: linear-gradient($secondary, $primary);
}
.about__heading__here__cards:hover .about__heading__here__cards__heading {
  color: white;
}
.about__heading__here__cards:hover .about__heading__here__cards__text {
  color: white;
}
.footer {
  width: 100%;
}
.footer__container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 2em;
}
.footer__container__columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.footer__container__col {
  width: 20%;
  border-right: 1px solid #6e6e6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 1.5em;
}
.footer__container__col:first-child {
  width: 40%;
}
.footer__container__col:last-child {
  border-right: none;
}

.footer__container__col__logo {
  display: flex;
}
.footer__container__col__logo svg {
  width: 120px;
  height: 25px;
  cursor: pointer;
}
.footer__container__col__text {
  width: 100%;
  color: #6e6e6e;
  overflow: hidden;
  font-size: 14px;
}
.term__and__condition__page {
  width: 100%;
  position: relative;
}
.term__and__condition__page__banner {
  width: 100%;
}
.term__and__condition__page__banner img {
  width: 100%;
  height: 300px;
}
.term__and__condition__page__overlay {
  position: absolute;
  display: flex;
  padding: 2em;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin-top: 2em;
  transform: translate(-50%, -50%);
}
.term__condition__overlay__haeding__text {
  color: $white;
  font-size: 16px;
  text-align: center;
}
.term__condition__overlay__haeding__big__text {
  color: $white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 0.6em;
}
.term__and__condition__container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 4em 4em;
}
.term__and__condition__container__heading {
  font-size: 22px;
  font-weight: bold;
}
.term__and__condition__container__text {
  font-size: 14px;
  color: $color;
  margin-top: 1em;
}
.term__and__condition__container__ul__text {
  font-size: 14px;
  color: $color;
}
.term__and__condition__container__ul__text li {
  padding: 0em 1em;
  margin-top: 0.5em;
}
.privacy__poilicy__page {
  width: 100%;
  position: relative;
}
.privacy__poilicy__page__banner {
  width: 100%;
}
.privacy__poilicy__page__banner img {
  width: 100%;
  height: 300px;
}
.privacy__poilicy__page__overlay {
  position: absolute;
  display: flex;
  padding: 2em;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin-top: 2em;
  transform: translate(-50%, -50%);
}
.privacy__poilicy__page__overlay__haeding__text {
  color: $white;
  font-size: 16px;
  text-align: center;
}
.privacy__poilicy__page__overlay__haeding__big__text {
  color: $white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 0.6em;
}
.privacy__poilicy__page__container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 4em 4em;
}
.privacy__poilicy__page__container__heading {
  font-size: 22px;
  font-weight: bold;
}
.privacy__poilicy__page__container__text {
  font-size: 14px;
  color: $color;
  margin-top: 1em;
}
.privacy__poilicy__container__ul__text {
  font-size: 14px;
  color: $color;
}
.privacy__poilicy__container__ul__text li {
  padding: 0em;
}
.letstalk__banner {
  width: 100%;
  position: relative;
}
.letstalk__banner__section {
  height: 100%;
  width: 100%;
}
.letstalk__banner__img {
  width: 100%;
  height: 700px;
}
.letstalk__banner__overlay {
  position: absolute;
  display: flex;
  padding: 2em;
  width: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  transform: translate(-50%, -50%);
}
.letstalk__banner__overlay__heading__top {
  font-size: 30px;
  font-weight: bold;
  color: $white;
  margin-bottom: 1em;
}
.letstalk__banner__overlay__section {
  padding: 2em;
  width: 70%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.letstalk__banner__overlay__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $white;
}
.letstalk__banner__overlay__content__left {
  width: 50%;
  padding: 0em 2em;
}
.letstalk__banner__overlay__content__left__heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
}
.letstalk__banner__overlay__content__left__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.letstalk__banner__overlay__content__left__input input {
  width: 100%;
  padding: 0.6em 2em;
  border-radius: 5px;
  margin-bottom: 0.5em;
  outline: none;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-in-out;
  color: $white;
  min-width: 270px;
}
.letstalk__banner__overlay__content__left__input input::placeholder {
  color: $white;
}
.letstalk__banner__overlay__content__left__input input:hover {
  border: 1px solid $white;
}
.letstalk__banner__overlay__content__left__input textarea {
  width: 100%;
  padding: 0.6em 2em;
  border-radius: 5px;
  margin-bottom: 0.5em;
  outline: none;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-in-out;
  color: $white;
  min-width: 270px;
}
.letstalk__banner__overlay__content__left__input textarea:hover {
  border: 1px solid $white;
}
.letstalk__banner__overlay__content__left__input textarea::placeholder {
  color: $white;
}
.letstalk__banner__overlay__content__left__button {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  min-width: 270px;
  margin-top: 1em;
}
.letstalk__banner__overlay__content__left__button button {
  width: 130px;
  height: 35px;
  background-color: $white;
  border-radius: 18px;
  outline: none;
  border: 1px solid $white;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.letstalk__banner__overlay__content__left__button button:hover {
  background-color: $primary;
  color: $white;
}
.letstalk__banner__overlay__content__right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.letstalk__banner__overlay__content__right__content__heading {
  font-size: 20px;
  font-weight: bold;
}
.letstalk__banner__overlay__content__right__content__letstalk__content {
  margin-top: 1.5em;
}
.letstalk__banner__overlay__content__right__content__heading__letstalk {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0.5em;
}
.letstalk__banner__overlay__content__right__content__heading__small__text {
  font-size: 14px;
  margin-top: 0.3em;
}
.letstalk__banner__overlay__content__right__content__heading__visit__us__sec {
  margin-top: 1.5em;
}
.letstalk__banner__overlay__content__right__content__heading__visitus {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0.5em;
}
.letstalk__banner__overlay__content__right__svgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 1em 0em;
  margin-top: 1.5em;
}
.letstalk__banner__overlay__content__right__svgs svg {
  margin-left: 0.5em;
  cursor: pointer;
}
.home__content {
  width: 100%;
  max-width: 1440px;
  padding: 0em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home__content__card__entry {
  width: 30%;
  margin: 1.5%;
  position: relative;
  border-radius: 10px;
  height: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;
  text-decoration: none;
}
.home__content__entry__content {
  display: flex;
  justify-content: center;
  margin-top: -4em;
  margin-bottom: 1.5em;
}
.home__content__card__entry__user__detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home__content__card__entry__name__heading {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: black;
}
.home__content__card__entry__name__subheading {
  display: flex;
  justify-content: center;
  color: $color;
  font-size: 16px;
  margin-top: 0.8em;
}
.home__content__card__entry:hover {
  background-color: $primary;
}
.home__content__card__entry:hover .home__content__card__entry__location svg {
  color: $white;
}
.home__content__card__entry__location svg {
  color: #5b58a5;
}

.home__content__card__entry__location {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 0.3em;
}
.home__content__card__entry__location__country__name {
  margin-left: 0.5em;
  color: #5b58a5;
}
.home__content__card__entry__follower {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  width: 100%;
  margin: 0em 1em;
  color: #2b2b2b;
  margin-top: 1em;
  font-size: 14px;
}
.home__content__card__entry__follower__entry__counter {
  font-size: 18px;
  font-weight: bold;
}
.home__content__card__entry__follower__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__content__card__entry__social__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.home__content__card__entry__social__content img {
  width: 35px;
  height: 35px;
  margin: 0em 0.4em;
}
.home__content__card__buttons {
  margin-top: 1em;
}
.home__content__card__buttons__btn__follow {
  padding: 0.6em 2em;
  margin: 0em 0.5em;
  outline: none;
  border: 1px solid #5b57a4;
  background-image: linear-gradient(90deg, $primary, $secondary);
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: $white;
}
.home__content__card__buttons__btn__hire__me {
  padding: 0.6em 2em;
  margin: 0em 0.5em;
  outline: none;
  border: 1px solid #5b57a4;
  background-color: $white;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.home__content__card__entry:hover {
  background-image: linear-gradient(120deg, $primary, $secondary);
}
.home__content__card__entry:hover .home__content__card__entry__name__heading {
  color: $white;
}
.home__content__card__entry:hover
  .home__content__card__entry__name__subheading {
  color: $white;
}
.home__content__card__entry:hover
  .home__content__card__entry__location__country__name {
  color: $white;
}
.home__content__card__entry:hover .home__content__card__entry__follower__entry {
  color: $white;
}
.home__content__card__entry:hover
  .home__content__card__buttons
  .home__content__card__buttons__btn__follow {
  background: $white;
  color: black;
}
.home__content__card__entry:hover
  .home__content__card__buttons
  .home__content__card__buttons__btn__follow:hover {
  background-image: linear-gradient(120deg, $primary, secondary);
  color: $white;
}

.home__content__card__entry:hover
  .home__content__card__buttons
  .home__content__card__buttons__btn__hire__me:hover {
  background-image: linear-gradient(120deg, $primary, secondary);
  color: $white;
}
.welcome__main__container {
  height: fit-content;
  min-height: 100%;
  width: 100%;
  position: relative;
}
.welcome__main__pic {
  height: 700px;
  width: 100%;
}
.welcome__main__pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.welcome__main__content {
  margin-top: 4em;
  height: 100%;
  padding: 0 2em;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome__main__content__left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__main__content__left__form {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(224, 224, 224, 0.6);
  max-width: 60%;
  padding: 2em;
}

.welcome__main__content__right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome__main__content__right__title {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.welcome__main__content__right__text {
  color: white;
  margin: 1em 0;
  width: 100%;
  max-width: 80%;
}
.welcome__main__content__right__logo {
  color: white;
  margin: 1em 0;
  width: 70%;
}
.postjob__page__banner {
  width: 100%;
  height: 650px;
}
.postjob__page__banner img {
  width: 100%;
}
.home__content__postjob {
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0px auto;
  margin-top: -7em;
  display: flex;
  padding: 1em;
}

.postjob__card__entry {
  width: 31%;
  margin: 1%;
  position: relative;
  border-radius: 10px;
  height: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3em;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: none;
}
.postjob__card__entry__user__detail {
  display: flex;
  flex-direction: column;
}
.postjob__card__entry__user__detail__name__heading {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  color: black;
}
.postjob__card__entry__name__subheading {
  display: flex;
  color: $color;
  font-size: 16px;
  margin-top: 0.5em;
}
.postjob__card__entry__name__subheading__icon {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}
.postjob__card__entry__name__subheading__icon svg {
  margin-right: 0.5em;
}
.postjob__card__entry__text {
  color: $color;

  padding: 1em 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  margin: 0.5em 0em;
}
.postjob__card__entry:hover {
  background-color: $primary;
}
.postjob__card__entry:hover .postjob__card__entry__user__detail__name__heading {
  color: $white;
}
.postjob__card__entry:hover .postjob__card__entry__name__subheading__icon svg {
  fill: white;
}
.postjob__card__entry:hover .postjob__card__entry__name__subheading {
  color: $white;
}
.postjob__card__entry:hover .postjob__card__entry__name__subheading__icon svg {
  color: $white;
  fill: $white;
}
.postjob__card__entry:hover .postjob__card__entry__text {
  color: $white;
}
.postjob__card__entry:hover
  .home__content__card__entry__company__name__heading {
  color: $white;
}
.home__content__card__entry__company__name__heading__location svg {
  color: $primary;
}
.postjob__card__entry:hover
  .home__content__card__entry__company__name__heading
  svg {
  color: $white;
}
.home__content__card__entry__company__name {
  display: flex;
  align-items: center;
}
.home__content__card__entry__company__name__heading {
  margin-left: 1em;
  color: black;
  text-align: left;
}
.home__content__card__entry__company__name__heading__location svg {
  margin-right: 0.5em;
}
.home__content__card__entry__company__name__heading__location {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}
.home__content__card__entry__company__name__heading__location__text {
  display: flex;
  align-items: center;
}
.userdash__page {
  width: 100%;
}
.userdash__pagepage__banner {
  width: 100%;
  height: 350px;
}
.userdash__pagepage__banner__img {
  width: 100%;
  height: 100%;
}
.userdash__overlay {
  width: 100%;
}
.userdash__overlay__content {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0em 2em;
  width: 100%;
  display: flex;
}
.userdash__overlay__left {
  flex: 1;
  max-width: 300px;
  margin-right: 1em;
}
.userdash__overlay__content__left {
  flex: 1;
  min-width: 300px;
  padding: 1.5em;
  border-radius: 15px;
  margin-top: -13.5em;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
}
.userdash__overlay__content__left__header {
  display: flex;
  align-items: center;
}
.userdash__overlay__content__left__header__avatar__name {
  margin-left: 1em;
}
.userdash__overlay__content__left__header__avatar__name__heading {
  font-size: 16px;
  font-weight: bold;
}
.userdash__overlay__content__left__header__avatar__name__heading__text {
  font-size: 14px;
}
.userdash__overlay__content__left__header__links__entry {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0.5em 0em;
}
.userdash__overlay__content__left__header__links__entry a {
  text-decoration: none;
  color: black;
}
.userdash__overlay__content__left__header__links {
  margin: 1em 0em;
}
.userdash__overlay__content__left__header__links__entry svg {
  margin-right: 1.5em;
}
.userdash__overlay__content__left__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userdash__overlay__content__left__button__follow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  color: black;
}
.userdash__overlay__content__left__button__follow:hover {
  background-color: $primary;
  color: $white;
}
.userdash__overlay__content__left__button__follow:hover svg {
  stroke: #ffff;
  color: #ffff;
}
.userdash__overlay__content__left__button__message {
  transition: all 0.3s ease-in-out;
}
.userdash__overlay__content__left__button__message:hover {
  background-color: $primary;
  color: $white;
}
.userdash__overlay__content__left__button__message:hover svg {
  stroke: #ffff;
  color: #ffff;
  fill: #ffff;
}
.userdash__overlay__content__left__button__follow svg {
  margin-right: 0.4em;
  color: #5b57a4;
}
.userdash__overlay__content__left__button__message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
.userdash__overlay__content__left__button__message svg {
  margin-right: 0.4em;
}
.userdash__overlay__content__left__ounter__section {
  margin: 1.5em 0em;
}
.userdash__overlay__content__left__ounter__section__folower {
  display: flex;
  align-items: center;
  margin: 0.5em 0em;
}
.userdash__overlay__content__left__ounter__section__folower__entry {
  margin-left: 1em;
}
.userdash__overlay__content__left__ounter__section__folower__svg {
  background-color: #aaa7da;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.userdash__overlay__content__left__ounter__section__folower__svg svg {
  color: $white;
}
.userdash__overlay__content__left__ounter__section__folower__entry__counter {
  font-size: 16px;
  font-weight: bold;
}
.userdash__overlay__content__left__ounter__section__folower__entry__counter__text {
  font-size: 14px;
}
.userdash__overlay__content__left__about__me {
  width: 100%;
}
.userdash__overlay__content__left__about__me__heading {
  font-size: 18px;
  font-weight: bold;
  margin: 0.5em 0em;
}
.userdash__overlay__content__left__about__me__text {
  font-size: 16px;
  width: 100%;
}
.userdash__overlay__content__left__social__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2em;
  margin-top: 1em;
}
.userdash__overlay__content__left__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.userdash__overlay__content__left__footer__heading {
  font-size: 16px;
}
.userdash__overlay__content__left__footer__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
.userdash__overlay__content__left__footer__buttons button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.3s ease-in-out;
  color: black;
  margin: 0em 1em;
  position: relative;
  transition: 0.3s all ease-in-out;
}
.userdash__overlay__content__left__footer__buttons button:hover {
  color: $primary;
}
.userdash__overlay__content__left__footer__buttons button:last-child::before {
  position: absolute;
  content: "";
  background-color: grey;
  height: 100%;
  width: 1px;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userdash__overlay__content__right {
  width: 100%;
}
.userdash__overlay__content__right__header {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em 3em;
}
.userdash__overlay__content__right__header__buttons {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: #e6e6e6;
  border-radius: 15px;
}
.userdash__overlay__content__right {
  width: 100%;
  flex: 1;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 2em 0em;
}
.userdash__overlay__content__right__header {
  width: 100%;
  padding: 1.5em;
  border-radius: 15px;
  margin-top: -13.5em;
  border-radius: 15px;
  flex: 1;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1em;
}
.userdash__right__container {
  display: flex;
  flex-direction: column;
}
.userdash__overlay__content__right__header__entry {
  width: fit-content;
  background-color: #ffff;
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.userdash__overlay__content__right__header__entry__btn {
  padding: 0.7em 1.5em;
  border-radius: 15px;
}
.userdash__overlay__content__right__header__entry__btn:hover {
  background-color: $primary;
  color: #ffff;
}
.userdash__overlay__content__right__header__entry__card {
  display: flex;
  width: 100%;
  max-width: 1000px;
  border-radius: 15px;
  margin-top: 0.5em;
}

.userdash__overlay__content__right__header__entry__data {
  background-color: #ffff;
  width: 240px;
  padding: 1em;
  border-radius: 15px;
  margin-right: 0.5em;
}
.userdash__overlay__content__right__header__entry__data__heading {
  font-size: 14px;
  font-weight: bold;
}
.userdash__overlay__content__right__header__entry__data__heading__study {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0.5em;
}
.userdash__overlay__content__right__header__entry__data__web__organiztion {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0.5em;
}
.userdash__overlay__content__right__header__entry__data__web {
  font-size: 14px;
}
.userdash__overlay__content__right__header__entry__data__city {
  font-size: 14px;
}
@media (max-width: 1200px) {
  .home__content__card__entry {
    width: 46%;
  }
}
@media (max-width: 1000px) {
  .footer__container__col {
    min-width: 30%;
    margin: 1em 0em;
    padding: 0em 1em;
  }
  .about__heading__here__cards {
    width: 45%;
    margin: 1em;
  }
  .about__heading__here__sec__cards__row {
    justify-content: center;
  }
  .postjob__card__entry {
    width: 48%;
  }
}
@media (max-width: 950px) {
  .letstalk__banner__overlay__section {
    width: 100%;
  }
}
@media (max-width: 880px) {
  .home__content__card__entry {
    width: 60%;
  }
  .home__content {
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .footer__container__col {
    min-width: 50%;
  }
  .about__heading__here__cards {
    width: 60%;
  }
  .letstalk__banner__overlay__content {
    flex-direction: column;
  }
  .letstalk__banner__overlay__content__left {
    width: 100%;
  }
  .letstalk__banner__overlay__content__right {
    width: 100%;
    justify-content: start;
    padding: 0em 2em;
  }
  .letstalk__banner__overlay {
    margin-top: 5.5em;
  }
  .letstalk__banner__img {
    height: 1000px;
  }
  .letstalk__banner__overlay__content__left {
    padding: 0em 0em;
  }
  .letstalk__banner__overlay__content__right {
    padding: 0em 0em;
  }
  .home__content__card__entry {
    margin: 2%;
  }
}

@media (max-width: 700px) {
  .about__overlay__content {
    flex-direction: column;
    justify-content: end;
    margin-top: 0em;
    margin-top: -1em;
  }
  .about__overlay__content__left {
    width: 100%;
  }
  .about__overlay__content__right {
    width: 100%;
  }
  .home__content__card__entry {
    width: 80%;
  }
  .home__content__card__entry {
    margin: 3%;
  }
  .postjob__card__entry {
    width: 100%;
  }
  .term__and__condition__page__banner img {
    width: 170%;
    margin-left: -50%;
  }
  .privacy__poilicy__page__banner img {
    width: 170%;
    margin-left: -50%;
  }
}
@media (max-width: 600px) {
  .footer__container__col {
    min-width: 100%;
    border-right: none;
  }
  .about__heading__here__cards {
    width: 100%;
  }
  .term__and__condition__page__overlay__haeding {
    margin-top: 1.3em;
  }
  .privacy__poilicy__page__overlay__haeding {
    margin-top: 1.3em;
  }

  .term__and__condition__container {
    padding: 3em 2em;
  }
  .privacy__poilicy__page__container {
    padding: 3em 2em;
  }
  .term__and__condition__container__ul__text li {
    padding: 0em;
  }
  .term__and__condition__container__ul__text {
    padding: 0em 1.5em;
  }
  .privacy__poilicy__container__ul__text li {
    padding: 0em;
  }
  .privacy__poilicy__container__ul__text {
    padding: 0em 1.5em;
  }
  .home__content__card__entry {
    width: 100%;
  }
  .home__content__card__entry {
    margin: 3%;
  }
}
@media (max-width: 480px) {
  .home__content__card__entry {
    margin: 4%;
  }
}
