@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

$primary: #5b58a5;
$secondary: #cb76cb;
$white: #ffffff;
$color: #6e6e6e;

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif !important;
}
.header {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
}
.header__content {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 1.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content__left {
  display: flex;
  align-items: center;
}
.header__content__left__logo {
  margin-right: 1em;
}
.header__content__left__logo__img {
  width: 150px;
}
.header__content__left__nav {
  display: flex;
  align-items: center;
}
.header__content__left__nav__link {
  color: $white;
  text-decoration: none;
  font-size: 16px;
  padding: 0.5em 1em;
}
.header__content__left__nav__link:hover {
  transition: 300ms ease-in-out;
  color: $primary;
}
.header__content__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.header__content__right__menu {
  width: 38px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 0em;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-left: 1em;
  transition: 300ms ease-in-out;
}
.header__content__right__menu:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
  color: $white;
}
.header__content__right__button {
  height: 38px;
  padding: 0em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  text-decoration: none;
  border: 1px solid transparent;
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
}
.header__content__right__button__primary {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
.header__content__right__button__primary:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.header__content__right__button__secondary {
  background-color: $secondary;
  color: white;
  margin-left: 1em;
}
.header__content__right__button__secondary:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.header__content__right__button__icon {
  margin-right: 2em;
  padding: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  color: $white;
  border: none;
}
.header__content__right__button__icon:hover {
  transition: 300ms ease-in-out;
  color: $primary;
}
.header__content__right__button__avatar {
  padding: 0em;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
  border: none;
}
.header__content__right__button__avatar__img {
  width: 100%;
  height: 100%;
}
.header__content__right__button__outline {
  border-color: $white;
  margin-right: 2em;
  color: $white;
}
.header__content__right__button__outline:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.header__content__right__panel {
  position: absolute;
  top: 4.5em;
  right: 0em;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.header__content__right__panel__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: 0em;
}
.header__content__right__panel__header__heading {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.header__content__right__panel__header__button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
.header__content__right__panel__header__button:hover {
  transition: 300ms ease-in-out;
  color: $primary;
}
.header__content__right__panel__content {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 400px;
  overflow-y: auto;
  padding: 1em;
}
.header__content__right__panel__content::-webkit-scrollbar {
  width: 5px;
}
.header__content__right__panel__content::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 50px;
}
.header__content__right__panel__content__entry {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
  text-decoration: none;
}
.header__content__right__panel__content__entry__heading {
  font-size: 15px;
  color: $white;
  font-weight: bold;
  margin-bottom: 0.3em;
}
.header__content__right__panel__content__entry__info {
  font-size: 14px;
  color: $white;
}
.header__content__right__panel__content__entry:hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(45deg, $primary, $secondary);
}
.header__content__right__panel__content__button {
  width: 100px;
  border-radius: 50px;
  height: 35px;
  background-color: transparent;
  border: 1px solid $white;
  color: white;
  padding: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.header__content__right__panel__content__button:first-child {
  margin-bottom: 1em;
}
.header__content__right__panel__content__button:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.header__content__right__panel__message {
  right: -2em;
}
.header__content__right__panel__notifications {
  right: -5em;
}
.header__content__right__panel__user {
  right: -3.2em;
}
@media (max-width: 1440px) {
  .header__content__right__panel__message {
    right: 0em;
  }
  .header__content__right__panel__notifications {
    right: 0em;
  }
  .header__content__right__panel__user {
    right: 0em;
  }
}
@media (max-width: 1000px) {
  .header__content__right__menu {
    display: flex;
  }
  .header__content__left__nav {
    position: absolute;
    top: 5.6em;
    left: 0px;
    padding: 1em 2em;
    padding-top: 0em;
    width: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .header__content__right__button__avatar {
    margin-right: 0.5em;
  }
}
@media (max-width: 800px) {
  .header__content {
    flex-direction: column;
  }
  .header__content__right {
    margin-top: 1em;
  }
  .header__content__left__nav {
    top: 9em;
  }
}
@media (max-width: 500px) {
  .header__content__right__button__outline {
    display: none;
  }
}
@media (max-width: 400px) {
  .header__content {
    padding: 1.5em;
  }
}
