@import "./global.scss";

.register__main__container {
  height: fit-content;
  min-height: 100%;
  width: 100%;
  position: relative;
}
.register__main__pic {
  height: 800px;
  width: 100%;
}
.register__main__pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.register__main__content {
  margin-top: 4em;

  padding: 0 2em;
  width: 100%;
  //   border: 2px solid rgb(255, 0, 0);
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.register__main__content__left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register__main__content__left__title {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.register__main__content__left__text {
  color: white;
  margin: 1em 0;
  width: 70%;
}
.register__main__content__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regiester__main__content__right__content {
  width: 500px;
  height: 100%;
  // background-color: rgba(255, 255, 255, 0.9);
  padding: 2em;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.register__main__content__right__row {
  display: flex;
  justify-content: space-between;

  // flex-wrap: wrap;
}
.register__main__content__right__column {
  width: 50%;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
.register__main__content__right__title {
  font-size: 25px;
  font-weight: bold;
  color: #5b58a5;
  position: relative;
  margin-bottom: 1em;
}
.register__main__content__right__title::after {
  content: "";
  height: 4px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, #5b58a5, #cb76cb);
}
.register__main__content__right__country {
  font-size: 20px;
  font-weight: bold;
  margin: 0.5em 0;
}
.register__main__content__right__buttons__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}
.register__main__content__right__checkbox__container {
  display: flex;
  align-items: center;
  margin: 1em 0em;
}
.register__main__content__right__signup__button__div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.register__main__content__right__signup__button {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: $white;
  text-decoration: none;
  height: 50px;
  padding: 0.5em 1em;
  background-image: linear-gradient(90deg, $primary, $secondary);
  margin-bottom: 1em;
}
.register__main__content__right__signup__button:hover {
  background-image: linear-gradient(90deg, $secondary, $primary);
}
.register__main__content__right__buttons__container__forget__password {
  background-color: transparent;
  color: rgb(46, 46, 46, 0.86);
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.register__main__content__right__buttons__container__forget__password:hover {
  color: #5b58a5;
  transition: 300 all ease-in-out;
}
.register__main__content__right__signup__button a {
  background: linear-gradient(to right, #5b58a5 0%, #cb76cb 50%, #5b58a5 100%);
  color: white;
  height: fit-content;
  width: 40%;
  padding: 0.5em;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  background-size: 250%;
  // transition: all 0.3s ease-in-out;
}
.register__main__content__right__signup__button a:hover {
  // background: linear-gradient(to left, #cb76cb, #5b58a5);
  animation-name: gradient;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.register__main__content__right__signin {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.register__main__content__right__signin a {
  color: #5b58a5;
  margin-left: 0.3em;
}
.register__main__content__right__label a {
  color: #5b58a5;
}
.register__main__content__right__icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
// ---------------------------SignIn--------------------------
.sign_in__main__content {
  display: flex;
  flex-direction: row-reverse;
}
.sign__in__main__content__right {
  justify-content: center;
  align-items: center;
}
.sign__in__main__content__right__content {
  height: 550px;
  border-radius: 10px 10px 10px 150px;
  position: relative;
}
.sign__in__main__content__right__curve {
  position: absolute;
  bottom: -2px;
  left: -1px;
  display: flex;
  align-items: flex-end;
}
.sign__in__main__content__right__curve img {
  height: 100%;
  width: 100%;
}
.sign_in_main__content__left__container {
  width: 100%;
  max-width: 70%;
}
.sign_in_main__content__left__text {
  width: 100%;
}
.sign_in_main__content__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign__in__input__container input {
  border-color: white;
  caret-color: white;
  color: white;
}
.sign__in__input__container input :focus {
  border-bottom: 1px solid white;
}
.sign__in__input__container input::placeholder {
  color: white;
}
.sign__in__main__content__right__title::after {
  bottom: -5px;
  width: 80px;
}

// --------------------Scss-------------------------

@media (max-width: 1000px) {
  .register__main__content__right {
    width: 100%;
    margin-top: 2em;
  }

  .register__main__content__left {
    width: 100%;
    height: fit-content;
  }
  .sign_in_main__content__left__container {
    max-width: 100%;
    padding: 2em;
  }
  .register__main__content__left__text {
    width: 100%;
  }
  .register__main__content {
    margin-top: 3em;
    align-items: center;
  }
  .register__main__pic {
    height: 100%;
    width: 100%;
  }
  .register__main__pic {
    height: 1100px;
  }
  .sign__in__main__content__right {
    align-items: flex-start;
    width: 100%;
  }
}
// @media (max-width: 800px) {
//   .register__main__content {
//     margin-top: 7em;
//   }
// }
@media (max-width: 600px) {
  .regiester__main__content__right__content {
    width: 100%;
  }
  .sign_in_main__content__left__container {
    padding: 2em;
    margin-bottom: 2em;
  }
  .register__main__content {
    padding: 2em 0em;
  }
}
@media (max-width: 500px) {
  .sign_in_main__content__left__container {
    padding: 0em;
  }
  .sign__in__main__content__right__curve img {
    display: none;
  }
  .sign__in__main__content__right__content {
    border-radius: 10px;
  }
  .register__main__content__right__row {
    flex-direction: column;
  }
  .register__main__content__right__column {
    width: 100%;
  }
  .register__main__pic {
    height: 1300px;
  }
}
